{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Drip Shop - Carrinho</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'assets/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
</head>

<body>
    <!-- Start Top Nav -->
    {% include 'partials/_nav.html' %}
    <!-- Close Top Nav -->

    <!-- Start Header -->
    {% include 'partials/_header.html' %}
    <!-- Close Header -->

    <section class="h-100 h-custom" style="background-color: #EFEFEF;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                <div class="card-body p-0">
                  <div class="row g-0">
                    <div class="col-lg-8">
                      <div class="p-5">
                        <div class="d-flex justify-content-between align-items-center mb-5">
                          <h1 class="fw-bold mb-0 text-black">Carrinho de Produtos</h1>
                          <h6 class="mb-0 text-muted">{{ cart_quantity }} itens</h6>
                        </div>
                        <hr class="my-4">
      
                        {% for order in orders %}
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                          <div class="col-md-2 col-lg-2 col-xl-2">
                            <a href="{% url 'single-product' order.product.slug %}"><img src="{{ order.product.image.url }}" class="img-fluid rounded-3" alt="{{ order.product.title }}"></a>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">{{ order.product.category }}</h6>
                            <a href="{% url 'single-product' order.product.slug %}" class="text-decoration-none text-dark"><h6 class="text-black mb-0">{{ order.product.title }}</h6></a>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <ul class="list-inline pt-3">
                              <li class="list-inline-item text-right">
                                Quantidade:
                                <input type="hidden" name="product-quantity" id="product-quantity" value="1">
                              </li>
                              <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">{{ order.quantity }}</span></li>
                            </ul>
                          </div>
 
                          <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                              <i class="fas fa-minus"></i>
                            </button>
      
                            <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control form-control-sm" />
      
                            <button class="btn btn-link px-2" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                              <i class="fas fa-plus"></i>
                            </button>
                          </div> -->
                          
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            {% if order.product.discount_price %}
                            <small class="text-decoration-line-through text-muted">R${{ order.product.price }}</small>
                            <h6 class="mb-0">R${{ order.product.discount_price }}</h6>
                            {% else %}
                            <h6 class="mb-0">R${{ order.product.price }}</h6>
                            {% endif %}
                          </div>
                          <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <a href="{% url 'del-to-cart' order.product.slug %}" class="text-muted"><i class="fas fa-times"></i></a>
                          </div>
                        </div>
      
                        <hr class="my-4">

                        {% endfor %}
      
                        <div class="pt-5">
                          <h6 class="mb-0"><a href="{% url 'products' %}" class="text-body"><i
                                class="fas fa-long-arrow-alt-left me-2"></i>Voltar aos Produtos</a></h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 bg-grey">
                      <div class="p-5">
                        <h3 class="fw-bold mb-5 mt-2 pt-1">Sumário</h3>
                        <hr class="my-4">
      
                        <div class="d-flex justify-content-between mb-4">
                          <h5 class="text-uppercase">Itens {{ cart_quantity }}</h5>
                          <h5>R${{ amount }}</h5>
                        </div>
      
                        <h5 class="text-uppercase mb-3">Envio</h5>
      
                        <div class="mb-4 pb-2">
                          <select class="select">
                            <option value="1">FRETE GRÁTIS</option>
                          </select>
                        </div>
      
                        <hr class="my-4">
      
                        <div class="d-flex justify-content-between mb-5">
                          <h5 class="text-uppercase">Preço Total</h5>
                          <h5>R${{ amount }}</h5>
                        </div>
                        
                        <a href="{% url 'purchase' %}"><button type="button" class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Comprar</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    <!-- Start Footer -->
    {% include 'partials/_footer.html' %}
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="{% static 'assets/js/jquery-1.11.0.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/templatemo.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <!-- End Script -->
</body>

</html>